<div class="container">
    <div class="section">
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur consequuntur dolore iusto
            libero mollitia nam nisi placeat quam, sed soluta, totam ut. At atque consequuntur dicta dolorum enim eos
            porro quam ullam. A accusamus culpa, doloremque eaque et hic iste laborum magnam magni, molestias, neque
            odio officia quam recusandae reiciendis repellat repellendus veniam vero voluptate voluptatem. Animi aut
            perferendis saepe suscipit? Assumenda autem deleniti ducimus ea enim eum excepturi facilis laborum minus
            nulla optio quaerat quod, quos sit temporibus veniam vitae. Accusantium asperiores illo unde veritatis vero.
            Adipisci deleniti explicabo impedit ipsam laudantium magnam mollitia nesciunt quia quis sapiente.
        </div>
        <div class="row center">
            Made by Members of the community
        </div>
        <div class="row about-profile-wrapper center">
            <div class="col offset-m2 m2 s4 center about-profile">
                <div class="row">
                    <img src="http://www.tagetik.com/intouch2015/user.png" alt="" class="circle responsive-img">
                </div>
                <div class="row">
                    Name
                </div>
                <div class="row">
                    Group
                </div>
                <div class="row">
                    Organisation
                </div>
            </div>
            <div class="col m2 s4 center about-profile">
                <div class="row">
                    <img src="http://www.tagetik.com/intouch2015/user.png" alt="" class="circle responsive-img">
                </div>
                <div class="row">
                    Name
                </div>
                <div class="row">
                    Group
                </div>
                <div class="row">
                    Organisation
                </div>
            </div>
            <div class="col m2 s4 center about-profile">
                <div class="row">
                    <img src="http://www.tagetik.com/intouch2015/user.png" alt="" class="circle responsive-img">
                </div>
                <div class="row">
                    Name
                </div>
                <div class="row">
                    Group
                </div>
                <div class="row">
                    Organisation
                </div>
            </div>
            <div class="col m2 s4 center about-profile">
                <div class="row">
                    <img src="http://www.tagetik.com/intouch2015/user.png" alt="" class="circle responsive-img">
                </div>
                <div class="row">
                    Name
                </div>
                <div class="row">
                    Group
                </div>
                <div class="row">
                    Organisation
                </div>
            </div>
        </div>
    </div>
</div>