<div class="container">
	<div class="section">
		<div class="row">
			<a class="btn-floating btn-large waves-effect waves-light red right" href="/#/members"><i class="material-icons">close</i></a>
		</div>
		<div class="row">
			<div class="row member-short-wrapper">
				<div class="col m6 s12 img-member">
					<img ng-src="http://www.tagetik.com/intouch2015/user.png" />
				</div>
				<div class="member-short-info left-align valign col m6 s12 member-big">
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Name:</strong>
						</div>
						<div class="member-short-info-cell">
							{{member.name}}
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Chapter:</strong>
						</div>
						<div class="member-short-info-cell">
							{{member.chapter}}
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Organisation:</strong>
						</div>
						<div class="member-short-info-cell">
							{{member.organisation}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="member-short-info left-align valign col m6 s12">
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Residence:</strong>
						</div>
						<div class="member-short-info-cell">
							{{member.city}}, {{member.country}}
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Lanquage:</strong>
						</div>
						<div class="member-short-info-cell">
							{{member.language}}
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							<strong>Twitter:</strong>
						</div>
						<div class="member-short-info-cell">
							<a ng-attr-href="http://twitter.com/{{member.twitter}}">{{member.twitter}}</a>
						</div>
					</div>
					<div class="member-short-info-row" ng-hide="!member.web">
						<div class="member-short-info-cell">
							<strong>Website:</strong>
						</div>
						<div class="member-short-info-cell">
							<a href="{{member.web}}">{{member.web}}</a>
						</div>
					</div>
				</div>
				<div class="col m6 s12">
					<blockquote>
						{{member.quote}}
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							Coding:
						</div>
						<div class="member-short-info-cell">
							<span ng-repeat="n in [] | range:member.skill_scout">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
							<span ng-repeat="n in [] | range: 5 - member.skill_scout">
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</span>
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							Design:
						</div>
						<div class="member-short-info-cell">
							<span ng-repeat="n in [] | range:member.skill_designer">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
							<span ng-repeat="n in [] | range: 5 - member.skill_designer">
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</span>
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							Analyse:
						</div>
						<div class="member-short-info-cell">
							<span ng-repeat="n in [] | range:member.skill_analyst">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
							<span ng-repeat="n in [] | range: 5 - member.skill_analyst">
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</span>
						</div>
					</div>
					<div class="member-short-info-row">
						<div class="member-short-info-cell">
							Storytelling:
						</div>
						<div class="member-short-info-cell">
							<span ng-repeat="n in [] | range:member.skill_storyteller">
								<i class="fa fa-star" aria-hidden="true"></i>
							</span>
							<span ng-repeat="n in [] | range: 5 - member.skill_storyteller">
								<i class="fa fa-star-o" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="col m6 s12">
					<h5 >Area of expertise:</h5>
					<p>{{member.specialty}}</p>
				</div>
			</div>
		</div>
	</div>
</div>